body{
    font-family: "Avenir Next";
}
.header{
    background-color:aqua;
    height: 50px;
}
.main{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
}
li {
    list-style: none;
   /* padding-top: 33px; */
    padding-bottom: 20px;
    /*padding-left: 20px;
    padding-right: 20px; */
    /* Change the top & bottom padding to 33px, and left & right padding to 20px */
}
.header-logo {
    float: left;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* Change the top & bottom padding to 20px, and left & right padding to 40px */   
}
.header-list li{
    float: left;
   padding: 0px 20px; 
   }
.footer{
    background-color: #2f5167;
    color: #fff;
    height: 120px;
}
.footer-logo{
    font-size: 36px;
    float: left;
}
.footer-list{
    float: right;
    padding-bottom: 20px;
}
.copy-container h1{
    font-size: 100px;
}
.copy-container h2{
    font-size: 60px;
}
.copy-container span{
    color: #ff4a4a;

}

.contents{

    height:500px;

    margin-top: 100px;

}
   /* Change the border-bottom property of section-title of 2px solid #dee7ec;*/

.section-title{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

   /* Change contents-item's float property to left */
.contents-item{
    float: left;
    margin-right: 40px;
}
.contents-item p{
    font-size: 24px;
    margin-top: 30px;
}
.contact-form{
    padding-top: 100px;
}
.contact-form input,textarea{
    width:400px;

    margin-top:10px;

    margin-bottom:30px;

    padding:20px;

    font-size:18px;

    border:1px solid #dee7ec;

}

.contact-submit{

    background-color: #dec7cc;

    color: #889eab;

    text-align: center;

}